body {
    margin: 0;
    font-family: Cambria   ;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5d77f; /* Couleur de fond rappelant la région Lorraine */
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr auto 3fr auto;
  }
  
  /* Définir les styles pour l'en-tête */
  #entete {
    background-color: #333;
    color: #fff;
    padding: 10px; 
    grid-row: 1;
    grid-column: span 2;
    text-align: center ;
  }

  #entete h1 {
    position: absolute;
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
    font-family: Montserrat;
    letter-spacing: 2px;
    line-height: 140px;
    margin-left: 400px;
  }

  #img1 {
    position: relative;
    float:left;
    margin-left: 20px;
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    grid-row: 4;
    grid-column: span 2;
    margin-top: 100px;
  }

  footer p {
    margin: 0;
    color: white;
    font-family: Montserrat;
    font-size: 17px;
  }